body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  
  header {
    width: 100%;
    background-color: #3437db;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color:yellow;
    padding: 10px;

    
  }
  .Video{
   
   
    width: 500px;
    height: 500px;
    
  }
 
#myVideo{
  width: 2000px;
  height: 500px;
  right: 0%;
  position: left;
  left: 100%;
}
  section {
    padding: 20px;
 
  }
  
  .product-card {
    border: 1px solid #ecf0f1;
    border-radius: 1px;
    display: flex;
    text-align:left;
   
  }
  
  .product-card img {
    max-width: 40%;
    max-height: 400px;
    object-fit:fill;
    margin: 5px

  }
  
  .product-info {
    padding: 15px;
    display: flex;
    text-align:left;
    flex-direction: column;
  }
  
  .product-info h3 {
    margin-top: 0;
    color: #2c3e50;
  }
  
  .price {
    color: #e74c3c;
    font-weight: bold;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #27ae60;
  }
  .container{
    display: flex;
    max-width: 100%;
  }
 